services:
  backend:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis
    volumes:
      - .:/app
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
  frontend:
    build: ./frontend
    ports:
      - "5173:3000"
    depends_on:
      - backend
    volumes:
      - ./frontend/src:/app/src
